body {
    font-family: Arial, sans-serif;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 10px;
  }
  
  #productList {
    list-style-type: none;
    padding: 0;
  }
  
  #productList li {
    margin-bottom: 10px;
  }